body{
    font-size:6em;
    text-align:center;
}
.count{
    background-color:white;
    margin:0px;
    font-weight:bold;
    color:gray;
}

.wrap{
    margin-top:20px;
    padding:80px 40px;
    background-color:#666;
    font-weight:bold;
    color:white;
}
.typed{
    color:lightgreen;
}
.mistyped{
    background-color:red;
}
